{% extends "navigator.html" %}
{% block body %}

<style>
    .box-title {
        font-size: 18px;
        padding: 0px 12px;
    }
</style>


<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">

            <div class="box-header with-border">
                <h3 class="box-title">Geopagos Merchant Filters</h3>
				<button class="btn btn-info btn-sm" onclick="history.back()">Go Back</button>
                <!-- <form method="POST" action='/search_geopagos_csv_view?key1={{searchDate.split("-")[2]}}-{{searchDate.split("-")[1]}}-{{searchDate.split("-")[0]}}'>
                    <input type="hidden" name="key1" id="key1" value='{{searchDate.split("-")[2]}}-{{searchDate.split("-")[1]}}-{{searchDate.split("-")[0]}}'>
                    <button type="submit">Back</button>
                </form> -->
                <!-- <a href="search_geopagos_csv_view" class="btn btn-info">Back </a> -->
            </div>

            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
						<div><H5><b>IDP :- {{IDP}} &nbsp; | &nbsp; Date :- {{searchDate}}</b></H5></div>						
                        <div class="table-responsive no-padding">
                            {% if idpData %}
                            <table id="example1"
                                class="table table-hover table-bordered table-striped dataTable no-footer">
                                <thead>
                                    <tr>
                                        {% for colName in tbHead %}
                                        <th>{{ colName }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for trnxData in idpData %}
                                    <tr>
                                        {% for td in trnxData %}
                                        <td> {{ td }} </td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                            {% else %}
                            <B> No Records Found </B>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




<!-- page script -->
<script>

	$(function () {
	$SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
	var table = $('#example1').DataTable({
		"paging": true,
		"lengthChange": false,
		"searching": true,
		"ordering": true,
		"info": true,
		"autoWidth": false,
		dom: 'Bfrtip',
		buttons: [
{
                extend: 'csv',
                text: 'Export CSV',
                className: 'btn-space',
                exportOptions: {
                    orthogonal: null
                }
            }
         ]
	});
	});

</script>
{% endblock %}
